# Folders to Exclude
__pycache__/
old_results_1/
old_results_2/
results/
saved_data/
shell_files/
wandb/
data/
visualization/shell_files/
visualization/saved_npz/
visualization/umap/

# Files to Exculde
*.ipynb
*.sh
*.lprof
README.md
